html {
    font-family: 'Arial';
    font-size: 12pt;
    line-height: 15pt;
    --bg: #cccccc;
    --bg-panel: #779966;
    --bg-narrative: #f8f8f8;
    --color-headings: #112211;
    --color-narrative: #000000;
    --color-text: #222222;
    --link: #112211;
    --clicked: #112200;
}

html[data-theme='dark'] {
    --bg: #111a11;
    --bg-panel: #1a2a1a;
    --bg-narrative: #080808;
    --color-headings: #ccddcc;
    --color-narrative: #ffffff;
    --color-text: #aabbaa;
    --link: #99ff88;
    --clicked: #ddffcc;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 21px;
    background: var(--bg);
    color: var(--color-headings);
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    background: var(--color-text);
    border-radius: 80px;
    transition: 0.3s;
}

input:checked+label {
    background: var(--bg);
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 200ms !important;
    transition-delay: 0 !important;
}

body {
    background-color: var(--bg);
    color: var(--txt-body);
    padding-left: 10%;
    padding-right: 10%;
    min-width: 400px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 400;
    margin-left: -10%;
    border-bottom: 2px solid;
    padding: 1em;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--bg-panel);
    color: var(--color-text)
}

.standard {
    margin: 0;
    padding: 1em;
    background: var(--bg);
    color: var(--color-text);
    font-size: 12px;
}

.columns {
    margin: 0;
    padding: 1em;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto;
    grid-template-areas: "content content";
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    color: var(--color-text)
}

a {
    font-weight: bold;
    color: var(--link);
}

a:hover {
    font-size: large;
    color: var(--link);
}

a:visited {
    color: var(--clicked);
}

img {
    width: 200px;
    border: 0px solid;
    padding: 1em;
}

.intro {
    padding-top: 1em;
    margin-top: 13em;
    text-align: center;
    background-color: var(--bg-panel);
    color: var(--color-headings);
    border-radius: 15px;
}

section {
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px;
}

.link-offset {
    display: block;
    content: " ";
    height: 11em;
    /* Give height of your fixed element */
    margin-top: -11em;
    /* Give negative margin of your fixed element */
    visibility: hidden;
}

.section-header {
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    background-color: var(--bg-panel);
    color: var(--color-headings);
}

.sub-header {
    text-transform: uppercase;
    border-top: 1px solid;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    background: var(--bg);
    color: var(--color-text);
}

.sub-header-top {
    text-transform: uppercase;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    background: var(--bg);
    color: var(--color-text);
}

.bullets {
    margin: 0;
    color: var(--color-text);
    background-color: var(--bg);
    padding-left: 10%;
    padding-right: 10%;
}

.narrative {
    font-size: 14pt;
    line-height: 18pt;
    color: var(--color-narrative);
    background: var(--bg-narrative);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    border-radius: 0 0 15px 15px;
}

.bottom-buffer {
    margin-bottom: 5em;
}

.center-text {
    text-align: center;
}